:root{
    --bg-color_light: #343434;
    --bg-color_medium: #2d2d2d;
    --bg-color_dark: #141414;
    --main-color_light: #F5537B;
    --main-color_medium:#EF003C;
    --main-color_dark:#a40a32;
    --secondary-color_light:#76E5BE;
    --secondary-color_medium: #25CE93;
    --secondary-color_dark:#009560;
}

*{
  font-size: 16px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	color: white;
	background-color: #2d2d2d;
	box-sizing: border-box;
	font-family: Arial;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial;
}

h1, h2, h3, h4, h5{
	margin: 1em 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 4em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.section_heading{
  text-decoration: underline var(--main-color_medium);
  font-size: 3.75rem;
  margin: 12% 0 0 0;
}

nav, hr, .skewed, .hero_logo, .section_content-media{
    filter:  drop-shadow(0 1px 1px rgba(0,0,0,0.12))
    drop-shadow(0 2px 2px rgba(0,0,0,0.20))
    drop-shadow(0 4px 4px rgba(0,0,0,0.20))
    drop-shadow(0 8px 8px rgba(0,0,0,0.20))
    drop-shadow(0 16px 16px rgba(0,0,0,0.20));
  
  }